<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Navigation Bar</title>
    <style>
        body {
            padding-top: 70px;
            background-color: #f4f4f4;
        }

        .navbar {
            background-color: #333;
            border: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .navbar-brand {
            color: #fff !important;
            font-size: 24px;
            font-weight: bold;
        }

        .navbar-nav {
            display: flex;
            float: none;
            margin: 0 auto;
            display: table;
            table-layout: fixed;
        }

        .navbar-nav>li>a {
            color: #fff !important;
            transition: background-color 0.3s;
            padding: 15px 20px;
        }

        .navbar-nav>li>a:hover {
            background-color: #444 !important;
        }

        .dropdown-menu {
            background-color: #333;
        }

        .dropdown-menu>li>a {
            color: #fff;
        }

        .dropdown-menu>li>a:hover {
            background-color: #444;
        }

        .navbar-toggle {
            border-color: #fff;
            margin-right: 0;
        }

        .navbar-toggle .icon-bar {
            background-color: #fff;
        }

        @media (max-width: 767px) {
            .navbar-header {
                float: none;
            }

            .navbar-toggle {
                display: block;
            }

            .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            }

            .navbar-collapse.collapse {
                display: none !important;
            }

            .navbar-nav {
                display: block;
                float: none !important;
                margin-top: 7.5px;
            }

            .navbar-nav>li {
                float: none;
            }

            .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .collapse.in {
                display: block !important;
            }

            .navbar-nav .open .dropdown-menu {
                position: static;
                float: none;
                width: auto;
                margin-top: 0;
                background-color: transparent;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .navbar-nav .open .dropdown-menu>li>a {
                color: #fff;
                padding: 10px 15px 10px 25px;
            }

            .navbar-nav .open .dropdown-menu>li>a:hover {
                background-color: #444;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/board">Link-Base</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/board"><i class="fa fa-th"></i> Boards
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/board">All board</a></li>
                            <li><a href="/Gaming">Gaming</a></li>
                            <!-- <li><a href="/board">Option 3</a></li> -->
                        </ul>
                    </li>
                    <li><a href="/blog"><i class="fa fa-book"></i> Blogs</a></li>
                    <li><a href="/shop"><i class="fa fa-shopping-cart"></i> Shops</a></li>
                    <li><a href="/Warez"><i class="fa fa-download"></i> Warez</a></li>
                    <li><a href="/Useful"><i class="fa fa-wrench"></i> Useful</a></li>
                    <li><a href="/hosting"><i class="fa fa-server"></i> Hosting</a></li>
                    <li><a href="/addlink"><i class="fa fa-plus"></i> Add</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-info-circle"></i>
                            Information <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/contact"><i class="fa fa-envelope"></i> Contact</a></li>
                            <li><a href="login"><i class="fa fa-sign-in"></i> Login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script>
        $(document).ready(function () {
            // Fix for dropdown menu not working
            $('.dropdown-toggle').dropdown();

            // Fix for mobile hamburger menu not closing correctly
            $('.navbar-toggle').click(function (e) {
                e.stopPropagation();
                $('.navbar-collapse').collapse('toggle');
            });

            // Close navbar when clicking outside
            $(document).click(function (e) {
                if (!$(e.target).closest('.navbar-collapse, .navbar-toggle').length) {
                    $('.navbar-collapse').collapse('hide');
                }
            });

            // Prevent dropdown from closing when clicking inside
            $('.navbar-collapse .dropdown-menu').click(function (e) {
                e.stopPropagation();
            });

            // Close dropdown menus when clicking outside
            $(document).click(function (e) {
                if (!$(e.target).is('.dropdown-toggle') && !$(e.target).parents('.dropdown-menu').length) {
                    $('.navbar-collapse .open').removeClass('open');
                }
            });

            // Check for token in localStorage and add Admin Panel and Logout button if token exists
            if (localStorage.getItem("token")) {
                $('<li><a href="/admin"><i class="fa fa-cogs"></i> Admin Panel</a></li>').insertBefore('.navbar-nav > li.dropdown:last');
                $('<li><a href="#" onclick="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>').insertBefore('.navbar-nav > li.dropdown:last');
            }
        });

        function logout() {
            localStorage.removeItem("token");
            window.location.href = '/login'; // Redirect to login page after logout
        }
    </script>
</body>

</html>
